* {
	margin: 0;
	padding: 0;
	font-size: 24px;
}

body {
	display: grid;
	grid-template-rows: 0.5fr 1.5fr;
}

.header-container {
	margin: auto;
}

.header-container h1 {
	font-size: 3rem;
}

main {
	margin: auto;
}

.game-container {
	display: grid;
	width: 500px;
	height: 500px;
	border: 1px solid black;
	border-radius: 10px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas:
		'. . .'
		'. . .'
		'. . .';
}

.box {
	display: grid;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	background-color: rgb(255, 255, 255);
}

.box:hover {
	background-color: rgb(240, 240, 240);
}

.no-l {
	border-left: 0;
}

.no-b {
	border-bottom: 0;
}

.br-tl {
	border-radius: 10px 0 0 0;
}

.br-tr {
	border-radius: 0 10px 0 0;
}

.br-bl {
	border-radius: 0 0 0 10px;
}

.br-br {
	border-radius: 0 0 10px 0;
}
.xturn {
	margin-top: 2.5rem;
	text-align: center;
	font-size: 2.5rem;
}
